html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}
html {
  font-size: 62.5%;
  width:100%;
  height:100%;
  background: rgb(232,232,232);
}
body {
  font-family: 'Avenir', Helvetica, Arial, sans-serif, 'PingFang SC', 'Noto Sans CJK SC', 'Microsoft YaHei';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.app-wrapper {
  height: 100%;
}

a {
  background-color: transparent;
  text-decoration: none;
}
.mint-header{
  background: rgb(255,35,61);
}

.clear::after {
  content: "";
  display: block;
  clear: both;
  height: 0;
}
.ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

/*From Wang Yang*/
.btn-large {
  height: 4rem;
  width: 24rem;
  border-radius:4rem;
  border : 2px solid rgb(255,35,61);
  background: rgb(232,232,232);
  color: rgb(255,35,61);
}


.middle-box {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.button-section{
  background: rgb(232,232,232);
}
.mint-tab-container-wrap {
margin-top:1rem;
}
.mint-tab-container{
  background:rgb(232,232,232) ;
}
/*.main-part{*/
  /*margin-top: 1rem;*/
/*}*/


